@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// My custom classes
.sans li a{
  font-family: 'Open Sans', sans-serif;
}

.button-group:hover li a{
  color: #000000;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-logo {
  width: 10em;
  height: 10em;
  border: 0.8em double;
  border-radius: 6em;
  z-index: 0;
  -webkit-box-shadow: 0px 10px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 10px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 10px 8px 0px rgba(50, 50, 50, 0.75);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}
.circle-logo a {
  font-size: 7em;
  color: #000000;
  text-align: center;
  line-height: 0.98;
  font-family: Baumans, cursive;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}
.circle-logo:hover {
  z-index: 100;
  color: #FFFFFF;
  background-color: #403E3E;
  text-decoration: none;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}
.circle-logo:hover a {
  color: #FFFFFF;
  transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}
.button.secondary {
  background-color: #868686;
}
.button-group.even-4 li a {
  border-left: none;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}

#visible {
  opacity: 1;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}

#visible:hover {
  #hidden {
    opacity:1;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
  }
}

#hidden {
  opacity: 0;
  padding-top:1em;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
}
