@import 'settings';
@import 'foundation';
// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// General Layout
h1 { font-family: Baumans, cursive; }

fieldset legend { background: none;}
//RESUME STYLES
.resume {
  background-color: #ffffff;
}
hr {
  margin: .25rem 0 1.1875rem;
  border-color: #000000;
}

span {
  font-weight: bold;
}

.side-nav {
  padding: 0.075rem 0;
}

// CONTACT STYLE
textarea {
  min-height:150px;
}

//BLOG STYLES
.container {
  background: #868686;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding-left: 280px;
  width: 100%;
}
.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  background: #000000;
}
.inline-list {
    display: flex;
    flex-direction: left;

    justify-content: center;
    padding-top: 10px;
}
.blog {
    padding-top: 10px;
}


// LOGO STYLES
.center
{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;

    height: 100%;

    justify-content: center;
}

.flatten
{
    box-shadow: none;
    &:before
    {
        top: 0;
        left: 0;

        width: 10em;
        height: 10em;

        border: .8em double;
        border-radius: 6em;
        box-shadow: 0 20px 10px -10px rgba(31, 31, 31, .5);
    }
    &:hover
    {
        &:before
        {
            box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
        }
    }
}

.logo {
  padding-top:2em;
}

.logo p
{
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.circle-logo
{
    position: relative;

    margin-left: auto;
    margin-right: auto;

    width: 10em;
    height: 10em;

    border-radius: 6em;

    transform-style: flat;
    &:before,
    &:after
    {
        position: absolute;
        z-index: -2;

        content: '';
        transition: all 1s ease-in-out;
    }
}

.circle-logo p
{
    color: #000000;
    font-family: Baumans, cursive;
    font-size: 7em;
    line-height: 1.2;
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
}

.circle-logo:hover
{

    color: #ffffff;
}

.circle-logo:hover p
{
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
    color: #ffffff;
}

// BUTTON STYLES
.button.secondary
{
    background-color: #868686;
}

.button-group:hover li a
{
    color: #000000;
}

.button-group.even-4 li a
{
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;

    border-left: none;
}

//HIDDEN NAV STYLES
#visible
{
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;

    opacity: 1;
}

#visible:hover
{
    #hidden
    {
      -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
           -o-transition: all 1s ease-in-out;
              transition: all 1s ease-in-out;
         -webkit-opacity: 1;
          -khtml-opacity: 1;
                 opacity: 1;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
              visibility: visible;
    }
}

#hidden
{
    padding-top: 1.5em;

    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
       -webkit-opacity: 0;
        -khtml-opacity: 0;
               opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            visibility: hidden;
}