/*** uncss> filename: http://fonts.googleapis.com/css?family=Baumans ***/

@font-face {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: local('Baumans'), local('Baumans-Regular'), url(http://fonts.gstatic.com/s/baumans/v5/BiCYinjVo5CiJRvPKlJf5g.ttf) format('truetype');
}

/*** uncss> filename: http://fonts.googleapis.com/css?family=Open+Sans ***/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*** uncss> filename: css/app.css ***/

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #868686;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

[class*="column"]+[class*="column"]:last-child {
  float: right;
}

@media only screen {
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .small-6 {
    width: 50%;
  }

  .small-8 {
    width: 66.6666666667%;
  }

  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .columns.small-centered:last-child {
    float: none;
  }
}

@media only screen and (min-width:40.063em) {
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .medium-9 {
    width: 75%;
  }

  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .columns.medium-centered:last-child {
    float: none;
  }
}

@media only screen and (min-width:64.063em) {
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .large-3 {
    width: 25%;
  }

  .large-6 {
    width: 50%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.3333333333%;
  }

  .large-12 {
    width: 100%;
  }

  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .columns.large-centered:last-child {
    float: none;
  }
}

button,
.button {
  border-style: none;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007ea7;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #007ea7;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  color: #FFFFFF;
}

.button.secondary {
  background-color: #868686;
  border-color: #797979;
  color: #FFFFFF;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: #797979;
}

.button.secondary:hover,
.button.secondary:focus {
  color: #FFFFFF;
}

.button.small {
  padding-top: 0.875rem;
  padding-right: 1.75rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.75rem;
  font-size: 0.8125rem;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media only screen and (min-width:40.063em) {
  button,
  .button {
    display: inline-block;
  }
}

.button-group {
  list-style: none;
  margin: 0;
  left: 0;
}

.button-group:before,
.button-group:after {
  content: " ";
  display: table;
}

.button-group:after {
  clear: both;
}

.button-group>li {
  margin: 0 -2px;
  display: inline-block;
}

.button-group>li .button {
  border-left: 0px solid;
  border-color: rgba(255,255,255,0.5);
}

.button-group>li:first-child .button {
  border-left: 0;
}

.button-group.even-3 li {
  margin: 0 -2px;
  display: inline-block;
  width: 33.3333333333%;
}

.button-group.even-3 li .button {
  border-left: 0px solid;
  border-color: rgba(255,255,255,0.5);
}

.button-group.even-3 li:first-child .button {
  border-left: 0;
}

.button-group.even-3 li .button {
  width: 100%;
}

.button-group.even-4 li {
  margin: 0 -2px;
  display: inline-block;
  width: 25%;
}

.button-group.even-4 li .button {
  border-left: 0px solid;
  border-color: rgba(255,255,255,0.5);
}

.button-group.even-4 li:first-child .button {
  border-left: 0;
}

.button-group.even-4 li .button {
  width: 100%;
}

form {
  margin: 0 0 1rem;
}

label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

input[type="text"] {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #FFFFFF;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

input[type="text"]:focus {
  box-shadow: 0 0 5px #999999;
  border-color: #999999;
}

input[type="text"]:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

input[type="text"]:disabled {
  background-color: #DDDDDD;
  cursor: default;
}

select::-ms-expand {
  display: none;
}

fieldset {
  border: 1px solid #DDDDDD;
  padding: 1.25rem;
  margin: 1.125rem 0;
}

fieldset legend {
  font-weight: bold;
  background: #FFFFFF;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}

.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.inline-list>li {
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}

.inline-list>li>* {
  display: block;
}

.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f2f2f2;
  color: #333333;
}

.panel>:first-child {
  margin-top: 0;
}

.panel>:last-child {
  margin-bottom: 0;
}

dialog::backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  background: rgba(0,0,0,0.45);
  z-index: auto;
  display: none;
  left: 0;
}

.side-nav {
  display: block;
  margin: 0;
  padding: 0.875rem 0;
  list-style-type: none;
  list-style-position: outside;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.side-nav li {
  margin: 0 0 0.4375rem 0;
  font-size: 0.875rem;
  font-weight: normal;
}

.side-nav li a:not(.button) {
  display: block;
  color: #000000;
  margin: 0;
  padding: 0.4375rem 0.875rem;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
  background: rgba(0,0,0,0.025);
  color: #4d4d4d;
}

.side-nav li.divider {
  border-top: 1px solid;
  height: 0;
  padding: 0;
  list-style: none;
  border-top-color: white;
}

div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #008CBA;
  text-decoration: none;
  line-height: inherit;
}

a:hover,
a:focus {
  color: #0078a0;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

h4 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.6875rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

small {
  font-size: 60%;
  line-height: inherit;
}

ul,
dl {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
}

ul {
  margin-left: 1.1rem;
}

dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75rem;
}

@media only screen and (min-width:40.063em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.3125rem;
  }

  h3 {
    font-size: 1.6875rem;
  }

  h4 {
    font-size: 1.4375rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media only screen {
  .hide-for-medium-up {
    display: inherit !important;
  }

  .show-for-medium-up {
    display: none !important;
  }
}

@media only screen and (min-width:40.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }

  .hide-for-medium-up {
    display: none !important;
  }
}

@media only screen and (min-width:64.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }

  .hide-for-medium-up {
    display: none !important;
  }
}

@media only screen and (min-width:90.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }

  .hide-for-medium-up {
    display: none !important;
  }
}

@media only screen and (min-width:120.063em) {
  .show-for-medium-up {
    display: inherit !important;
  }

  .hide-for-medium-up {
    display: none !important;
  }
}

h1 {
  font-family: Baumans,cursive;
}

fieldset legend {
  background: none;
}

.resume {
  background-color: #ffffff;
}

hr {
  margin: 0.25rem 0 1.1875rem;
  border-color: #000000;
}

span {
  font-weight: bold;
}

.side-nav {
  padding: 0.075rem 0;
}

.container {
  background: #868686;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  padding-left: 280px;
  width: 100%;
}

.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  background: #000000;
}

.inline-list {
  display: flex;
  flex-direction: left;
  justify-content: center;
  padding-top: 10px;
}

.blog {
  padding-top: 10px;
}

.center {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.flatten {
  box-shadow: none;
}

.flatten:before {
  top: 0;
  left: 0;
  width: 10em;
  height: 10em;
  border: 0.8em double;
  border-radius: 6em;
  box-shadow: 0 20px 10px -10px rgba(31,31,31,0.5);
}

.flatten:hover:before {
  box-shadow: 0 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(128,128,128,0.1) inset;
}

.logo {
  padding-top: 2em;
}

.logo p {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
  border-radius: 6em;
  transform-style: flat;
}

.circle-logo:before,
.circle-logo:after {
  position: absolute;
  z-index: -2;
  content: '';
  transition: all 1s ease-in-out;
}

.circle-logo p {
  color: #000000;
  font-family: Baumans,cursive;
  font-size: 7em;
  line-height: 1.2;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.circle-logo:hover {
  color: #ffffff;
}

.circle-logo:hover p {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: #ffffff;
}

.button.secondary {
  background-color: #868686;
}

.button-group:hover li a {
  color: #000000;
}

.button-group.even-4 li a {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-left: none;
}

#visible {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 1;
}

#visible:hover #hidden {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  visibility: visible;
}

#hidden {
  padding-top: 1.5em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
